@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  /* background-color: #075666; */
  background-color:#f9e2c1;
  color: black;
  font-size: bold;
}



