.container {
  display: flex;
  flex-direction: column;
}
.buttons-btn {
  margin-left: 6rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.error-message{
  font-size: 20px;
  color: red;
  
}

.btn-left{
  background-color:#047104;
  color: #fff;
  border-radius: 20px;
  
}
.btn-right{
  background-color: #a40906;
  color: #fff;
  border-radius: 20px;
}